<!DOCTYPE html>
<html lang="en">

  <head>
    <script src="https://sdk.mercadopago.com/js/v2"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Tooplate">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <title>{% block title %}Books&Rents{% endblock %}</title>

    <!-- Additional CSS Files -->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="static/assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="static/assets/css/font-awesome.css">

    <link rel="stylesheet" type="text/css" href="static/assets/css/owl-carousel.css">

    <link rel="stylesheet" href="static/assets/css/bookandArts.css">
  </head>
  
  <body>
  
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->
    
    <!-- ***** Pre HEader ***** -->
    <div class="pre-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <span>Necesitas contactarnos?</span>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="text-button">
                        <a href="Suscripciones.html">Contactanos aquí! <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Header -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="{% url 'index' %}" class="logo">Books&<em>Rents</em></a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="{% url 'index' %}" class="active">Inicio</a></li>
                            <li><a href="{% url 'Suscripciones' %}">Suscripción</a></li>
                            <li><a href="{% url 'Arriendos' %}">Arrendar Libros</a></li>
                            <li><a href="{% url 'ComprarLibros' %}">Comprar Libros</a></li>
    
                            <!-- Mostrar opciones solo si el usuario está autenticado -->
                            {% if user.is_authenticated %}
                                <li><a class="fa fa-user" href="{% url 'Perfil' %}"> Mi Perfil</a></li>
                                <li><a class="fa fa-shopping-cart" href="{% url 'ver_carrito' %}"> Carrito</a></li>
                            {% else %}
                                <!-- Mostrar el botón de login si el usuario no está autenticado -->
                                <li><a href="{% url 'ingreso' %}" class="fa fa-user">Iniciar Sesión</a></li>
                            {% endif %}
                            {% if user.is_authenticated %}
                            <li><a class="fa fa-user" href="{% url 'logout' %}">Cerrar Sesión</a></li>
                            {% endif %}
                        </ul>             
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="main-content">
        {% block content %}
        <!-- Aquí irá el contenido de las páginas que extiendan esta plantilla -->
        {% endblock %}
    </div>
    
    <!-- *** Footer *** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="address">
                        <h4>Servicio al cliente</h4>
                        <span>¿Cómo comprar?, <br>Política de cambios y devoluciones<br>Términos y condiciones</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="links">
                        <h4>Books and Rents</h4>
                        <ul>
                            <li><a href="#">Misión y visión</a></li>
                            <li><a href="#">Trabaja con nosotros</a></li>
                            <li><a href="#">Nuestra tienda</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="hours">
                        <h4>Contacto</h4>
                        <ul>
                            <li>bookandrents@contacto.cl</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="under-footer">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <p>São Conrado, Rio de Janeiro</p>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <p class="copyright">Copyright 2024 Books&Rents Company 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="sub-footer">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="logo"><span>Books&<em>Rents</em></span></div>
                            </div>
                            <div class="col-lg-6">
                                <div class="menu">
                                    <ul>
                                        <li><a href="index.html" class="active">Inicio</a></li>
                                        <li><a href="{% url 'Promociones' %}">Promociones</a></li>
                                        <li><a href="Suscripciones.html">Suscripción</a></li>
                                        <li><a href="Arriendos.html">Arrendar Libros</a></li> 
                                        <li><a href="ComprarLibros.html">Comprar Libros</a></li> 
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="social-links">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="static/assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="static/assets/js/popper.js"></script>
    <script src="static/assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="static/assets/js/scrollreveal.min.js"></script>
    <script src="static/assets/js/waypoints.min.js"></script>
    <script src="static/assets/js/jquery.counterup.min.js"></script>
    <script src="static/assets/js/imgfix.min.js"></script> 
    <script src="static/assets/js/mixitup.js"></script> 
    <script src="static/assets/js/accordions.js"></script>
    <script src="static/assets/js/owl-carousel.js"></script>
    
    <!-- Global Init -->
    <script src="static/assets/js/custom.js"></script>
  </body>
</html>
